<!DOCTYPE html>

<html>
    <head>
        <title>CheeseAI client</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1 class="title">500 - Something went wrong!</h1>
        <div class="ilistmenu">
            <p>It seems like you managed to break something. If you believe this to be a mistake, please report it to the CheeseAI developers.</p>
            <p>Here are some links you might return to:</p>
            <ol>
                <li><a href="/">CheeseAI main page</a></li>
                <li><a href="#" onclick="window.history.back()">The last page you've been to</a></li>
            </ol>
        </div>
    </body>
</html>
